body {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  line-heigh:1.5;
  padding: 4em 1 em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1 {
  font-size: 20px;
}

body {
  color: #555
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}

a {
  color: rgba(0, 0, 0, 0.8);
}

body {
  color: #566b78;
}

code,
pre {
  background: #f5f7f9;
  border-bottom: 1px solid #d8dee9;
  color: #a7adba;
}

pre {
  border-left: 2px solid #69c;
}


#footer li {
  display: inline;
  margin-right: 20px;
  font-weight: bold;
  text-decoration: none;
}

#wrap {
  margin: 30px auto;
  max-width: 600 px;
}


/* GRANT ADDITIONS */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  padding-bottom: 20px;
}
