body {
  margin: 0 auto;
  max-width: 50em;
}

body {
  font-family: "Helvetica", "Arial", sans-serif;
}

body {
  line-heigh:1.5;
  padding: 4em 1 em;
}

h2 {
  margin-top: 1em;
  padding-top: 1em;
}

h1 {
  font-size: 20px;
}

body {
  color: #555
}

h1,
h2,
strong {
  color: #333;
}

code,
pre {
  background: #eee;
}

code {
  padding: 2px 4px;
  vertical-align: text-bottom;
}

pre {
  padding: 1em;
}
